<h1> Lista de Canciones </h1>
<table id=listaCanciones width="100%">
{% for cancion in canciones %}

            <tr>
                <td id={{cancion.id}}>{{ cancion.id}}</td>
                <td>{{ cancion.nombre }}</td>
                <td>{{ cancion.artista }}</td>
                <td>{{ cancion.album }}</td>
                <td>{{ cancion.precio }}</td>
                <td>
                    <button id=Editar><a href="{% url 'editarCancion' cancion.id %}">Editar</a></button>
                    <button id=Eliminar><a href="javascript: eliminarCancion({{ cancion.id }})">Eliminar</a></button>
                </td>
            </tr>
{% endfor %}

<button id=Nueva><a href="{% url 'nuevaCancion' %}">Nueva</a></button>