<h1>{{ accion }} Cancion</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ formulario.as_p }}
        <button id=guardarNueva type="submit">Guardar</button>
        <button id=regresar><a href="{% url 'canciones' %}">Regresar</a></button>
    </form>